@import url('https://fonts.googleapis.com/css2?family=Alice&family=IM+Fell+English:ital@1&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    font-family: 'Alice', serif;
    font-weight: 300;
    background-color: #f2eecb;
    color: black;
    text-align: center;
}

.footer {
    /*footer modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_footer*/
    padding-top: 20px;
    margin-top: 20px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #69061c;
    color: white;
    text-align: center;
 }

 .footer p, a {
     text-align: center;
     color: white;
 }

 .footer a {
    text-align: center;
    color: white;
}

.title-image {
    /*shadow from https://www.w3schools.com/css/css3_shadows_box.asp*/
    border-radius: 5%;
    padding: 20px;
    width: 25%;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    }

    #questionID{
        font-size: large;
        font-weight: bolder;
        padding: 20px 10px 30px 10px;
    }

#intro p
{
    text-align: center;
    justify-content: center;

}
.quizarea{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    /*background-color: lightskyblue;    */ 
}

.scoresarea{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-color: yellow;    
}


/*#question-container{
    background-color: coral;
    border-radius: 10%;
}*/

.quizarea .container {
    /*display: inline;
    width: 800px;
        border-radius: 5px;

    */
    max-width: 90%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}


/*if I target all divs it works but if I try to only target btn-card it gets overridden with  block
.answer-buttons div or btn grid do nothing
.btn-grid div{
display: inline;
}

#answer-buttons {
    display: inline;
}*/

.rulesarea {
    margin: 0;
    padding: 0;
    display: flex; /*without this it will not center the rules container*/
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    /*background-color: red;    */ 
}
.rules-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid div{
    display: grid;
    display: inline !important;
    grid-template-columns: repeat(5); /*five columns*/
    gap: 10px;
    margin: 20px 0;
}

.btn-grid div{
    display: grid;
}

.btn {
    background-color: goldenrod;
    border: 2px solid black;
    border-radius: 5px ;
    padding: 5px 10px;
    color: black;
    outline: none;
}
/*
.score-area{
    background-color: green;

}*/

.btnCard {
    display: inline;
    /*border: 3px dotted black;
    border-radius: 5px ;
    color: black;*/
    padding: 1px;
    outline: none;
    max-height: 200px;
    width: auto;
}

.btn:hover{
    border-color: royalblue;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    font-family: 'IM Fell English', serif;
    border-radius: 50%;
}

.btn.selectedButton {
    font-weight: bold;
    font-size: large;
}

.hide {
  display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}




h2, p {
    text-align: left;

}
h1, h2 {
   color: red; 
    letter-spacing: 5px;


}

header {
    margin: 0px;
}

.column {
  float: left;
  min-width: 20%;
  width: 20%;
  height:auto;
  padding-bottom: 30;
  padding-left: 0;
  padding-right: 0;
}



.container{
    text-align: center;
    /*width: 800px;*/
    max-width: 100%;
    padding: 10px;
}

.row {
    margin-left: 0px;
    margin-top: 50px;
}


 Clear floats after image containers 
.row::after {
  content: "";
  clear: both;
  display: table;
}

hr {
    background-color: #cc0000;
    width: 95%;
    height: 0.5px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.hands {
    margin-bottom: 30px; 
    background-color: blueviolet;
    border: 1px solid red; 
    padding: 35px;
       /*line-height: 3;
        margin-bottom: 20px;
margin-bottom: 3px; 
    */
}

ol li::marker {
    display: list-item;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}


ul li{
        list-style-type: none; /*no bullet points anywhere*/
}

 a {
    text-decoration: none;
    color:slategray;
}


.bi-suit-heart-fill, .bi-suit-diamond-fill {
 color: red;
}

.bi-suit-spade-fill, .bi-suit-club-fill {
 color: black;
}

.navbar {
color: slategray;
background-color:inherit;
font-family: 'Alice', serif;
letter-spacing: 5px;
float: right;
text-align: right;
}

.navbar a:hover i {
    color: white;
}


.navbar .active {
    text-transform: uppercase;
    font-size: 150%;
}

 .active i {
    color: white;
    text-shadow: 2px 2px black;
}



.btn.correct {
    background-color: rgb(136, 148, 93)
}

.btn.wrong{
    background-color: rgb(216, 74, 102);
}






/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}