@import url('https://fonts.googleapis.com/css2?family=Alice&family=IM+Fell+English:ital@1&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/*styles consistent with all pages*/

body {
    font-family: 'Alice', Garamond, serif;
    font-weight: 300;
    background-color: #f2eecb;
    color: black;
    text-align: center;
}

.title-image {
    /*shadow from https://www.w3schools.com/css/css3_shadows_box.asp*/
    border-radius: 5%;
    padding: 20px;
    width: 25%;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    transform: rotate(-10deg);

}

h1,
h2 {
    color: red;
    letter-spacing: 5px;
}

header {
    margin: 0px;
}

/* NAVBAR */
ol li::marker {
    display: list-item;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}

ul li {
    list-style-type: none;
    /*no bullet points anywhere*/
}

a {
    text-decoration: none;
    color: inherit;
}

.bi-suit-heart-fill,
.bi-suit-diamond-fill {
    color: red;
}

.bi-suit-spade-fill,
.bi-suit-club-fill {
    color: black;
}

.navbar {
    color: DarkSlateGray;
    background-color: inherit;
    font-family: 'Alice', serif;
    letter-spacing: 5px;
    float: right;
    text-align: right;
}

.navbar a:hover i {
    color: white;
}


.navbar .active {
    text-transform: uppercase;
    font-size: 150%;
}

.active i {
    color: white;
    text-shadow: 2px 2px black;
}

.column {
    float: left;
    min-width: 20%;
    width: 20%;
    height: auto;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.container {
    text-align: center;
    /*width: 800px;*/
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.row {
    margin-left: 0px;
    margin-top: 50px;
}

/* FOOTER */
.footer {
    /*footer modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_footer*/
    padding-top: 20px;
    margin-top: 20px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #69061c;
    color: white;
    text-align: center;
}

.footer a {
    color: inherit;
    /*by default links are grey as in the navbar*/
}

/*styles for INDEX page*/
#intro p {
    text-align: center;
    justify-content: center;
}

/*styles for RULES page*/

.quizarea {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.quizarea .container {
    max-width: 90%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#hands img {
    width: 95%;
    height: auto;
}

.rulesarea {
    /*used in index page also*/
    margin: 0;
    padding: 0;
    display: flex;
    /*without this it will not centre the rules container*/
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.rules-container {
    /*used in index page also*/
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.rules-container h2 {
    text-align: left;
}

/*styles for RESOURCES page*/

/* for consistency the rules container was reused in the resources page
     so an id was used to override the text aligmnent*/
#resources {
    text-align: center;
}


/*styles for QUIZ page*/

#questionID {
    font-size: large;
    font-weight: bolder;
    padding: 20px 10px 30px 10px;
}

.btn-grid div {
    display: grid;
    grid-template-columns: auto;
}

.btn {
    background-color: rgb(196, 174, 121);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}


.btn:hover {
    border-color: royalblue;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    font-family: 'IM Fell English', serif;
    border-radius: 50%;
}

.btn.selectedButton {
    font-weight: bold;
    font-size: large;
}

.hide {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

Clear floats after image containers .row::after {
    content: "";
    clear: both;
    display: table;
}


/* change depending on whether answer is correct. */

.btn.correct {
    background-color: lightseagreen;
}

.btn.wrong {
    background-color: red;
}


/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}