.question-area {
    transform: scale(0.65); 
   /* position: relative; 
    top: -100px;
    */
}

.answers {
    padding: 10px;
   
    vertical-align: middle; 
    /*margin-top: -2px; 
     margin-right: 10px; 
    */
}


label {
    padding: 5px; 
    font-size: 2rem;
    color: red;    
}

.correct{
    border: 3px solid limegreen;
    color: limegreen;
}
    /*
    innerHTML = 'Correct!'
    */

    .wrong{
    border: 3px solid red;
    color: red;
    /*
    innerHTML = 'Incorrect!'
    */
}

.option {
    border: 1px double grey;
    padding: 5px; 
    align-items: center;
    vertical-align: middle; 

}