.question-area {
    transform: scale(0.65); 
    position: relative; 
    top: -100px;
}

.answers {
    padding: 10px;
    margin-right: 10px; 
    vertical-align: middle; 
    margin-top: -2px; 
}


label {
    padding: 5px; 
    font-size: 2.5rem;
    color: red;    
}

.correct{
    border: 3px solid limegreen;
    color: limegreen;
}
    /*
    innerHTML = 'Correct!'
    */

    .wrong{
    border: 3px solid red;
    color: red;
    /*
    innerHTML = 'Incorrect!'
    */
}
